body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 10px 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.12);
  padding: 0;
  background-color: rgba($color: #fff, $alpha: 0.2);
  z-index: 999;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .nav-mobile {
    height: 100%;

    @media screen and (min-width: 768px) {
      display: none;
    }

    #nav {
      display: none;
    }

    nav {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      background-color: #fff;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.12);
      justify-content: center;
      align-items: flex-end;
    }

    #nav {
      &:checked ~ nav {
        display: flex;
      }
    }

    &__more {
      width: 32px;
      height: 32px;
      border: rgba($color: #000000, $alpha: 1);
      border-radius: 5px;
      cursor: pointer;
    }

    &__line {
      position: relative;
      width: 32px;
      height: 32px;
      margin: 0 1rem;

      &::after {
        content: "";
        background-color: #222;
        height: 1px;
        width: 32px;
        position: absolute;
        top: 10px;
      }

      &::before {
        content: "";
        background-color: #222;
        height: 1px;
        width: 32px;
        position: absolute;
        top: 20px;
      }
    }
  }

  nav {
    margin: 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
      display: none;
    }

    a {
      margin: 0;
      outline: none;
      text-decoration: none;
      color: #000000;
      width: fit-content;
      padding: 5px 10px;
      border-radius: 5px;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }

      &:not(:last-child) {
        margin-right: 10px;

        @media screen and (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

section {
  max-width: 80vw;
  margin: auto;
}

article {
  p {
    position: relative;
  }

  a {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 100%;
  }

  ul {
    li {
      font-weight: 600;
    }
  }
}

.sup-video {
  position: relative;
  width: 100%;

  &__video {
    width: 100%;
    border-radius: 10px;
  }
}

.hero {
  margin: 1rem 0;
}

img {
  border-radius: 10px;
  width: 100%;
}

.sup-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  &__img {
    max-height: 200px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  &__container {
    text-align: justify;
    border-radius: 10px;
    border: 1px solid rgba($color: #000000, $alpha: 0.12);
    padding: 1rem;
  }

  &__description {
    margin-top: 1rem;

    p {
      margin: 0;
      padding: 0;

      &:first-child {
        font-weight: 600;
      }
    }
  }
}

footer {
  margin-top: 5%;
  padding: 1rem;
  background-color: #222;
  color: #fff;
}
